{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{- with .Page.Params.images }}{{ if $.Page.Params.headerImg }}
<section><img src="{{ index . 0 }}" alt="{{ $.Page.Title }}"></section>
{{ end }}{{ end -}}
<main class="container max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  <article class="prose dark:prose-invert max-w-full">
    <header><h1 class="text-xl md:text-2xl lg:text-2xl">{{ .Title }}</h1></header>
    {{ .Content }}
    {{- with .Site.Params.store }}
    <footer class="border-t-2 lg:flex lg:justify-between mt-40">
      <div class="comments">
        <p>작업이나 수업 중에는 전화연결이 어려울 수 있습니다.<br>
        운영시간이라도 외부작업, 수업할 수 있습니다.<br>
        문의하시고 방문해주세요.</p>
      </div>
      <div class="contact">
        <p>{{ .Address }}<br>
          <a href="tel:{{ .phone }}">{{ .phone }}</a> {{ partial "base/click-to-copy" .phone }} |
          {{ .email }}{{ partial "base/click-to-copy" .email }}<br>
        {{ .BusinessHours }}</p>
      </div>
      <div class="bank">
        <p>계좌 정보 {{ partial "base/click-to-copy" "국민은행 778801-04-394199" }}<br>
        <a href="#" x-data="{status: false}" x-init="if (typeof navigator.clipboard == 'undefined'){ $el.style.disaply='none'; }" @click="navigator.clipboard.writeText('국민은행 778801-04-394199');status=true;">국민은행 778801-04-394199</a><br>
        여연주(도토리크라프트)</p>
      </div>
    </footer>
    {{ end -}}
  </article>
</main>
{{ end }}
