<header class="w-full border-b-2 fixed top-0 z-50 bg-white">
  <nav class="max-w-2xl lg:max-w-7xl mx-auto px-4 lg:px-8 flex justify-between h-16">
    <ul class="flex items-center">
      <li><a href="/about">소개</a></li>
    </ul>
    <ul class="flex items-center">
      <li><h1 class="lg:pl-0 text-gray-700"><a href="/">
        <img class="h-10" src="{{ .Site.Params.brand.logo }}" alt="{{ .Site.Title }}">
      </a></h1></li>
    </ul>
    <ul class="flex items-center">
      <li><a href="/class">수업</a></li>
    </ul>
  </nav>
</header>