<div class="w-full border-b-2">
  <nav class="max-w-2xl lg:max-w-7xl mx-auto px-4 flex justify-between bg-white h-16">
    <ul class="flex items-center">
      <li>{{ partial "base/heroicon" (dict "icon" "solid/sun") }}</li>
    </ul>
    <ul class="flex items-center">
      <li>
        <h1 class="pl-8 lg:pl-0 text-gray-700">
          <a href="/">{{ .Site.Title }}</a>
        </h1>
      </li>
    </ul>
    <ul class="flex items-center">
      <li class="h-6 w-6"><a href="/about">about</a></li>
      <li class="pr-6"><a href="/class">class</a></li>
    </ul>
  </nav>
</div>